beautifulsoup4==4.9.0
certifi==2020.4.5.1
chardet==3.0.4
construct==2.8.8
COVID19Py==0.3.0
idna==2.9
imutils==0.5.3
ipaddress==1.0.16
meduza==1.0.1
numpy==1.18.5
opencv-python==4.2.0.34
pyaes==1.6.1
pyasn1==0.4.8
pygame==1.9.6
PyQt5==5.15.0
PyQt5-sip==12.8.0
PySocks==1.7.1
pyTelegramBotAPI==3.7.1
python-telegram==0.12.0
requests==2.23.0
rsa==4.6
schedule==0.6.0
six==1.14.0
socks5==0.2.1
soupsieve==2.0
Telethon==1.14.0
transitions==0.4.1
urllib3==1.25.9
